.ptt-project-detail {
    .detail-wrapper {
        position: relative;
        padding-right: 85px;
        .actions {
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .spinner-wrapper {
        margin-top: 50px;
        text-align: center;
    }
    .logs-panel {
        margin-top: 25px;
    }
}